<table class="ui selectable table">
  <caption><i class="user icon"></caption>
  <caption>information</caption>
  <caption><%= link_to "記録", new_diet_path, class: "ui button"%></caption>
  <thead>
    <tr>
      <th>Day</th>
      <th>Judge</th>
      <th a="#">record</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1日目</td>
      <td>OK!</td>
      <td><a href="#">詳細</td>
    </tr>
    <tr>
      <td>2日目</td>
      <td>NO</td>
      <td><a href="#">詳細</td>
    </tr>
    <tr>
      <td>3日目</td>
      <td>NO</td>
      <td><a href="#">詳細</td>
    </tr>
    <tr>
      <td>4日目</td>
      <td>OK!</td>
      <td><a href="#">詳細</td>
    </tr>
  </tbody>
</table>