<div class="ui massive form">
  <div class="field">
    <div class="twe fields">
      <div class="field">
      <label>前回の体重</label>
      <input type="text", name="ini_weight", placeholder="前回の体重", size="3">
      </div>
      <div class="field">
        <label>今回の体重</label>
        <input type="text", name="day_weight", placeholder="今回の体重", size="3">
      </div>
    </div>
    <div class="ui submit button">
      保存
    </div>
  </div>
</div>